{% extends 'forms/base.html' %}

{% block title %}Create Department{% endblock %}

{% block content %}
<section id="create_department" class="create-department">
  <div class="container">
    <div class="section-title">
      <h2>Create Department</h2>
      <p>Add a new department to the organization.</p>
    </div>

    <div class="col-lg-6">
      {{msg}}
      <form method="POST" action="{{ url_for('main.create_department') }}" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group mt-3">
          <label for="name">Department Name:</label>
          {{ form.name(class="form-control") }}
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

